*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'TT Hoves';
}
.container{
    margin-top: calc(11vw + 18.5px);
    margin-bottom: calc(11vw + 18.5px);
    margin-left: calc(10.7vw - 16.5px);
}
.zagolovok{
    font-size: calc(2.7vw + 24px);
    font-weight: 500;
    letter-spacing: 0.58px;
    text-transform: uppercase;
}
.info{
    width: calc(46.4vw + 154px);
    font-size: calc(1vw + 14.3px);
    font-weight: 400;
    line-height: 140%; 
}
.image{
    display: inline-flex;
    gap: 26px;
}
img{
    width: calc(13.3vw + 330px);
}